<%= render :partial => 'spree/admin/shared/product_sub_menu' %>
 
<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Links' } %>

<ul>
    <% @links.each do |link|%>
    <li>
        <%=check_box_tag :links, link.id, @product.links.exists?(link)%><%=link.name%>
    </li>
    <% end %>
</ul>
<script>
    $(function(){
        $('input[type=checkbox]').on('click',function(){
            url=<%=raw admin_product_links_path(@product).to_json%> + '/' + this.value + ( this.checked ? '/select' : '/remove')
            $.get(url)
        })
    })
</script>
