<%= form_for :order, :url => populate_orders_url do |f| %>
    <div class="bd"  data-hook="inside_product_cart_form">

        <% if @product.price %>
            <div class="price row clearfix" id="product_price" data-hook="product_price">
                <span class="label"><%= t(:price) %></span>
                <strong><%= number_to_currency(@product.price) %></strong>
            </div>
        <% end %>

        <% if @product.has_variants? %>
            <div id="product-variants">
                <div class="option_tyeps" id="product_option_types">
                    <% @product.option_types.each do |option_type| %>
                        <div class="row clearfix">
                        <span class="label"><%=option_type.presentation%></span>
                            <% if option_type.display_type == "select" %>
                                
                                <%= select_tag( "option_type_#{option_type.id}", 
                                               options_from_collection_for_select(option_type.option_values, 
                                                                                  :id,
                                                                                  :presentation,
                                                                                  params[:option_types] && params[:option_types][option_type.id.to_s]),
                                               :prompt => '',
                                               :"data-has-same-product-image" => option_type.has_same_product_image ) %>
                            <% else %> 
                                <ul class="clearfix product_option_values">
                                <% option_type.option_values.each do |option_value|%>
                                    <li class="<%= option_value.image ? 'color' : 'size'%>">
                                        <a href="javascript:;"  class="radio-btn" title="<%=option_value.presentation%>"><span></span><%= option_value.image ? image_tag(option_value.image.mini_url) : option_value.presentation%></a>
                                    <%= radio_button_tag "option_type_#{option_type.id}",option_value.id, (params[:option_types] && params[:option_types][option_type.id.to_s] == option_value.id.to_s), :"data-has-same-product-image" => option_type.has_same_product_image%></li>
                                <% end %>
                                </ul>
                            <% end %>
                        </div>
                    <% end %>
                </div>
                <ul id="product-variant-fields">
                    <% has_checked = false
                    @product.variants.active.each_with_index do |v,index|
                        next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products])
                        checked = !has_checked && (v.in_stock || Spree::Config[:allow_backorders])
                        has_checked = true if checked %>
                        <li>
                            <%=raw radio_button_tag( "products[#{@product.id}]", v.id, checked, :disabled => !v.in_stock && !Spree::Config[:allow_backorders], :"data-on-hand" => v.on_hand, :"data-sku" => v.sku ).gsub(/\/>$/, variant_option_values_data(v)+"/>") %>
                            <label for="<%= ['products', @product.id, v.id].join('_') %>">
                                <span class="variant-description">
                                    <%= variant_options v %>
                                </span>
                                <% if variant_price_diff v %>
                                    <span class="price diff"><%= variant_price_diff v %></span>
                                <% end %>
                            </label>
                        </li>
                    <% end%>
                </ul>
            </div>
        <% end%>

        <% if @product.has_stock? || Spree::Config[:allow_backorders] %>
        <div class="row clearfix">
            <span class="label"><%= t('quantity')%></span>
            <%= select_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),
                options_for_select( (1..( Spree::Config[:allow_backorders] ? 10 : @product.on_hand ) ).to_a[0,10] )%>
        </div>
        <% end %>
    </div>
    <div class="ft clearfix">
        <% if @product.has_stock? || Spree::Config[:allow_backorders] %>
            <%= button_tag :class => 'button-orange', :id => 'add-to-cart-button' do %>
                <span></span><%= t(:add_to_cart) %>
            <% end %>
        <% else %>
            <%= content_tag('strong', t(:out_of_stock)) %>
        <% end %>
        <%= render_cell :product, :links, :product => @product%>
    </div>
<% end %>
