<!-- no need for thumnails unless there is more then one image -->
<% if product.images.size > 1 || product.variant_images.count > 1%>
    <div class="thumb-wrapper">
        <a href="javascript:;" class="control-btn prev disabled">prev</a>
        <div class="thumb">
            <ul id="product-thumbnails" class="thumbnails clearfix" data-hook>
            </ul>
        </div>
        <div>
            <ul id="product-thumbnails-origin" >
                <% if @product.has_variants? %>
                    <% @variants.each do |v| %>
                        <% if v.available? %>
                            <% v.images.each do |i| %>
                                <li class="vtmb-<%= v.id.to_s %> vtmb" id="tmb-<%= i.id.to_s %>" <%=raw variant_option_values_data(v)%> ><%= link_to image_tag(i.attachment.url(:mini)), i.attachment.url(:product) %></li>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
                <% product.images.each do |i| %>
                    <li class="tmb-all" id="tmb-<%= i.id.to_s %>"><%= link_to image_tag(i.attachment.url(:mini)), i.attachment.url(:product) %></li>
                <% end %>
            </ul>
        </div>
        <a href="javascript:;" class="control-btn next disabled">next</a>
    </div>
<% end %>
