<% content_for :sidebar do %>
    <div data-hook="homepage_sidebar_navigation">
        <%= render :partial => 'spree/shared/taxonomies' %>
    </div>
<% end %>
<article data-hook="product_show" class="column">
<section class="product-info clearfix">
<div class="gallery">
    <div id="product-images" data-hook="product_images">
        <div id="main-image" class="photo-wrapper" data-hook><%= render :partial => 'image' -%></div>
        <%= render :partial => 'thumbnails', :locals => { :product => @product } %>
    </div>
</div>
<div class="info">
    <div class="hd">
        <h2 class="product-title"><%= accurate_title %></h2>
        <%= render_cell :product, :labels, :product => @product%>
        <div class="row clearfix"><span class="label">商品編號</span><span id="sku" data-product-sku="<%=@product.sku%>"><%= @product.sku%></span></div>
    </div>
    <%= render :partial => 'cart_form' %>
</div>
</section>

<section id="product-description" class="product-introduction clearfix" data-hook="product_description">
<h3><%=t('product.introduction')%></h3> 
<div class="bd clearfix">
    <div class="intro">
        <div class="depiction">
            <%= product_description(@product) rescue t(:product_has_no_description) %>
        </div>
        <div class="specification" data-hook="product_properties">
            <%= render :partial => 'properties' %>
        </div>
    </div>
</div>
</section>
</article>

<%# render :partial => 'taxons' %>
