<%
  variants = products # DIRTY HACK
  paginated_variants = @searcher.variants if params.key?(:keywords)
  paginated_variants ||= variants
%>
<% if variants.empty? %>
  <%= t(:no_variants_found) %>
<% elsif params.key?(:keywords) %>
  <h3><%= t(:search_results, :keywords => h(params[:keywords])) %></h3>
<% end %>

<% if variants.any? %>
<ul id="products" class="product-listing" data-hook>
  <% variants.each do |variant| %>
    <% if Spree::Config[:show_zero_stock_products] || variant.in_stock %>
        <li id="variant_<%= variant.id %>" data-hook="variants_list_item">
        <% variant_params ={}
           variant.option_values.each{|x| variant_params["option_types[#{x.option_type_id}]"] = x.id} %>
           <%= link_to variant.name, product_path(variant.product, variant_params), :class => 'info' %>
           <%= link_to small_image( variant.first_image_variant || variant.product), product_path(variant.product, variant_params)%>
           <span class="price selling"><%= number_to_currency(variant.price) %></span>
       </li>
    <% end %>
  <% end %>
</ul>
<% end %>

<hr class="space" />

<% if paginated_variants.respond_to?(:num_pages)
      params.delete(:search)
      params.delete(:taxon)
%><%= paginate paginated_variants %><% end %>
<hr class="space" />
